@import './geral.css';
@import './modal.css';
@import './tooltip.css';
@import './dropdown.css';
@import './mobile-menu.css';
@import './numeros.css';
@import './date.css';
@import './animais-fetch.css';
